:root{
    --red-line: #E3001C;
    --yelow-line: #FDC403;
    --blue-line: #02519E;
    --ligth-line: #8FA4B9;
    --pink-line:#DC4596;
} 
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

@media (min-width: 600px){
    .navbar{
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        width: 3rem;
        height: 100vh;
        align-items: center;
    }

    .navbar .pink-line{
        background-color: var(--pink-line);
        width: 0.1rem;
        height: 4rem;
    }

    .navbar .flex-container{
        flex-direction: row-reverse !important;
    }
 
}
